{% extends "base.html" %}

{% block title %}Order Detail{% endblock %}

{% block content %}

<div x-data="orderEditor" x-init="init()">
    <h2 class="text-2xl font-bold mb-4">Order # {{ order.order_id }}</h2>
    <div class="grid grid-cols-2 gap-4">
        <div>
            <template x-for="(value, key) in properties" :key="key">
                <div class="flex flex-row">
                    <strong class="basis-1/4 ml-auto" x-text="key.charAt(0).toUpperCase() + key.slice(1).replace('_',' ') + ':'"></strong>
                    <div class="basis-2/4" x-show="key === 'order_date'">
                        <div class="grid">
                            <input class="place-self-stretch" type="date" x-model="value" @click="edit(key)">
                        </div>
                    </div>
                    <div class="basis-2/4" x-show="key !== 'order_date'">
                        <div class="grid">
                            <span class="place-self-stretch" @click="edit(key)" x-text="value" :contenteditable="editingKey === key"></span>
                        </div>
                    </div>
                    <div class="basis-1/4">
                        <button x-show="editingKey === key" @click="cancel(key)">
                            <i class="mdi mdi-close"></i>
                        </button>
                        <button x-show="editingKey === key" @click="saveChanges(key)">
                            <i class="mdi mdi-check"></i>
                        </button>
                    </div>
                </div>
            </template>
        </div>
    </div>
</div>
<div x-data="{ open: false }" @item-added.window="open = false">
    <!-- Trigger button -->
    <button @click="open = true" class="px-4 py-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-700 transition duration-150 ease-in-out">
        Add Product
    </button>

    <!-- Overlay -->
    <div x-show="open" x-transition:enter="ease-out duration-300"
         x-transition:enter-start="opacity-0"
         x-transition:enter-end="opacity-100"
         x-transition:leave="ease-in duration-200"
         x-transition:leave-start="opacity-100"
         x-transition:leave-end="opacity-0"
         class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

    <!-- Dialog -->
    <div x-show="open"
         x-transition:enter="ease-out duration-300"
         x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
         x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
         x-transition:leave="ease-in duration-200"
         x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
         x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
         class="fixed z-10 inset-0 overflow-y-auto">
        <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
            <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left w-full">
                            <!-- Content -->
                            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
                                Search Products
                            </h3>
                            <div class="mt-2">
                                <!-- Search field -->
                                <input type="search" placeholder="Type to search..." class="mt-1 px-3 py-2 w-full border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500" hx-get="/product/search" hx-params="query:value" hx-target="#search-results" hx-trigger="keyup changed delay:500ms" hx-indicator="#spinner">
                                <div class="grid grid-col-1 text-gray-500 text-xs mt-1">
                                    <img class="htmx-indicator place-self-center" id="spinner" src="/static/puff.svg"/>
                                </div>

                                <div id="search-results" class="mt-4 space-y-4">
                                    <!-- Placeholder for search results -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse">
                    <button @click="open = false" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-500 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div x-data="orderItemsHandler({
    initialItems: {{ order.order_items }},
    order_id: {{ order.order_id }}
})" @add-item.window="addItem($event.detail)" class="col-span-2">
    <div class="p-5">
        <table class="w-full" id="order-items-table">
            <thead>
                <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b bg-gray-50">
                    <th class="border px-4 py-2">Order Item ID</th>
                    <th class="border px-4 py-2">Product ID</th>
                    <th class="border px-4 py-2">Product Name</th>
                    <th class="border px-4 py-2">Quantity</th>
                    <th class="border px-4 py-2">Unit Price</th>
                    <th class="border px-4 py-2">Total</th>
                    <th class="border px-4 py-2">Actions</th>
                </tr>
            </thead>
            <tbody>
                <template x-for="(item, index) in orderItems" :key="index">
                    <tr>
                        <td class="border px-4 py-2" x-text="item.order_item_id" x-model="item.order_item_id"></td>
                        <td class="border px-4 py-2" x-text="item.product_id"></td>
                        <td class="border px-4 py-2" x-text="item.product_name"></td>
                        <td class="border px-4 py-2">
                            <span @click="edit(item, index, 'item_quantity')" x-show="editingIndex !== index || editingItem !== 'item_quantity'" x-text="item.item_quantity"></span>
                            <input type="number" x-model="item.item_quantity" x-show="editingIndex === index && editingItem === 'item_quantity'" @blur="saveChanges(item, index)" class="border px-2 py-1" />
                        </td>
                        <td class="border px-4 py-2">
                            <span @click="edit(item, index, 'item_price')" x-show="editingIndex !== index || editingItem !== 'item_price'" x-text="item.item_price"></span>
                            <input type="number" x-model="item.item_price" x-show="editingIndex === index && editingItem === 'item_price'" @blur="saveChanges(item, index)" class="border px-2 py-1" />
                        </td>
                        <td class="border px-4 py-2">
                            <span x-text="item.item_quantity * item.item_price"></span>
                        </td>
                        <td class="border px-4 py-2">
                            <!-- show delete button -->
                            <button @click="deleteItem(item.id)" class="mdi mdi-delete-outline text-2xl text-red-500 hover:text-red-700"></button>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
</div>

<script>
document.addEventListener('alpine:init', () => {
    Alpine.data('orderEditor', () => ({
        orderId: '{{ order.id }}',
        properties: {{ order|tojson }},
        editingKey: null,
        originalValues: {},
        init() {
            // Populate originalValues with the properties
            this.originalValues = {...this.properties};

            const excludeKeys = ['order_id',  'order_items'];
            this.properties = Object.keys(this.properties)
                                    .filter(key => !excludeKeys.includes(key)) // Exclude specified keys
                                    .reduce((obj, key) => {
                                        obj[key] = this.properties[key];
                                        return obj;
                                    }, {});

            console.log(this.properties);
        },
        edit(key) {
            this.editingKey = key;
        },
        cancel(key) {
            console.log('Cancelling changes for', key);
            document.querySelector(`[contenteditable]`).innerText = this.originalValues[key];
            this.editingKey = null;
        },
        saveChanges(key) {
            //const newValue = this.properties[key];
            newValue = document.querySelector(`[contenteditable]`).innerText;

            console.log('Saving changes for', key, newValue);
            fetch(`/order/update/${this.orderId}`, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({[key]: newValue}),
            })
            .then(response => {
                if (!response.ok) throw new Error('Network response was not ok');
                return response.json();
            })
            .then(data => {
                console.log('Success:', data);
                this.editingKey = null;
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        },
    }));
});

function orderItemsHandler(data) {
    console.log(data);
    return {
        orderItems: data.initialItems || [],
        order_id: data.order_id || {},
        editingIndex: null,
        editingItem: '',
        originalValues: {},

        edit(item, index, field) {
            this.editingIndex = index;
            this.editingItem = field;
        },
        cancel(index) {
            // Revert to original values if needed, then exit edit mode
            this.editingIndex = null;
            this.editingItem = '';
        },
        saveChanges(item, index) {
            // No need to capture new value from contenteditable, as item already updated
            console.log('Saving changes for', item);

            // Creating a FormData object
            let formData = new FormData();
            // Assuming `item` is an object, append each property to the FormData object
            for (let key in item) {
                formData.append(key, item[key]);
            }

            // AJAX call to update the server, using the updated `item`
            fetch(`/order/update-item/${this.order_id}`, {
                method: 'PATCH',
                body: formData, // Send the entire item object
            })
            .then(response => response.json())
            .then(data => {
                this.editingIndex = null; // Close editing mode
                this.editingItem = '';
                // Additional UI feedback or actions here
            })
            .catch(error => {
                console.error('Error updating item:', error);
            });
        },
        addItem(item) {
            this.orderItems.push({...item});
            // Update other UI elements or local storage as needed
            this.$dispatch('item-added');
        }
    }
}
</script>
{% endblock %}